.topbar{
    display: flex;
    justify-content: space-between;
    text-decoration: double;
    font-size: x-large;
    color:#F9DB6D;
    font-weight: 900;


}

p{
    font-weight: 500;
    font-size: larger;
}

body{
    background-color: #464D77;
    font-family: Arial, Helvetica, sans-serif;
    color:#F4EDED;
}

.baritem{
    display: flex;
    align-items: center;
}

.select{
    display: flex;
    background-color: #F4EDED;
    color: #36827F;
    justify-content: space-evenly;
    font-weight: 700;
    text-decoration: none;
    font-size: larger;
}

.baritem:hover{
    background-color: #d1d1d3;
    opacity: .9;
}

.profile{
    height: 400px;
    width:400px;
    border-style: double;
    border-color: #F9DB6D;
    border-radius: 20px;
    border-width: 10px;
}

.who{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

footer{
    display: flex;
    justify-content: space-evenly;
    background-color: #F4EDED;
    color:#464D77;
}

footer h3{
    color:#36827F;
}

h2{
    text-decoration:underline;
}

a{
    text-decoration: none;
}

.game{
    display: flex;
    justify-content: center;
}